@charset "utf-8";
/* CSS Document */


body 
{
   background: url("../img/cardboard_flat.png"); 
}

body > div {
	
	margin: 0 auto;
	width: 100%;
	
	}



.container {
	
}

/*http://www.hongkiat.com/blog/css-content-accordion/*/


.row div{
	float: left;

}



.box6 {
	color:white;
	text-align:center;
	margin: 0.625em 0.625em;
   width: 6.5em;
   height: 2.75em;
 /* border: 0.25em solid black;*/
  padding: 0.125em;
  border-radius: 0.938em;
 background-image: url("../img/tweed.png");	
}

.box6:hover, .box15:hover, .box23:hover, .box31:hover {
	 -webkit-transform: scale(1.05);
     -moz-transform: scale(1.05);
          transform: scale(1.05);
		  background: red;
}

.box6:active, .box15:active, .box23:active, .box31:active {
	
		  background: yellow;
}


.box15 {
	color:white;
	text-align:center;
margin: 0.625em;
   width: 14.85em;
   height: 2.75em;
  padding: 0.125em;
  border-radius: 0.938em;
   background-image: url("../img/tweed.png");
 
}

 
.box23 {
   color:white;
	text-align:center;
  margin: 0.625em; 
  width: 23.25em;
   height: 2.75em;
  padding: 0.125em;
  border-radius: 0.938em;
   background-image: url("../img/tweed.png");
}

.box31 {
	color:white;
	text-align:center;
 margin: 0.625em;
   width: 31.45em;
   height: 2.75em;
  padding: 0.125em;
  border-radius: 0.938em;
  background-image: url("../img/tweed.png");
 
}

body > div:after {
	content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}


 

/*

#firstRow div{
	float: left;
}

#firstRow:after {
	content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}



#secondRow div{
	float:left;
	
}
	
#secondRow:after {
	content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}


#thirdRow div{
	float:left;
	
}
	
#thirdRow:after {
	content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}




#fourthRow div{
	float:left;
	
}
	
#fourthRow:after {
	content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}

 