body {
		 font-family: 'Share+Tech+Mono', courier, serif;
		 color: black;
		 background: ;
		 /* need dotmatrix paper background. see img dir*/
}

a {
	color: teal;
	text-decoration: none;
	}

img {
		max-width: 100%;
		}	
	
ul.nav {
			 margin: 7.5em 0 0 0;
			 list-style: none;
			 float: right;
			 }	
			 
ul.nav li {
			 float: left;
			 margin-right: 2.5em;
			 }
			 
li.dormant {
				color: grey;
				}			 