/* 
	Global Styling 
	===
	- What is getting inherited? What is not? 
*/

body {	
	font-family:  'BPdotsRegular', courier, serif;
	background-image: url("../img/straws.png");
}

.container {
    max-width: 1024px;
    margin:0 auto;
	background-image: url("../img/dm-83opacity.jpg") ;
	background-repeat:repeat-y;
	background-position:center;
	background-size: 100%;
	padding: 1% 0;
    }


header ul {
	float: left;
	list-style:none;
	margin:0 0 1em .5em;
}

header div {
	text-align:center;
	padding-top:4%;
}



#picContext div {
		position:relative;
		
		}
		
img#picContext {
	position: absolute;
	right: 4em;
	max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
	}
	
header div a:link, 
header div a:visited {
	background-image: url("../img/brushed_alu_dark.png");
	border-radius:15%;
	text-decoration: none;
	color: beige;	
}

header div a:hover {
	color: grey;
	background:transparent;
	text-decoration: none;
}

.mobNav {display:none;}



#shift {
    margin: 0 0 0 3%;
}
h1, h2, h3, h4, h5 {
	font-family: 'BPdotsRegular', courier, sans-serif;
	color: black;
	width: 92%;
	}

h1 {
	margin:1em 0 0.5em 1.6em;
}
	
h2 {
	
	margin-bottom: 0;
	margin-left: .6em;
	padding: 0 0em;
	clear: both;
}

h4 {
	margin-bottom: 0;
	margin-bottom: -1em;
	
}


a:link, 
a:visited {
	text-decoration: none;
	color: black;
}


a:hover {
	color: green;
	text-decoration: underline;
}


nav a:active {
	color: #000;
}


article p {
	padding: 0 .9em;
}





.expChunk {
    width: 70%;
    float: left;
	margin: 0 0 0 1em;
	padding: 0;
}

.expChunk ul {
   margin: 0 0 0 -1.75em;
}

ul#postPic {
    margin: -2em 0 0 1em;
}

.expChunk li, .date li {
	list-style: none;	
}

ul.teachEx {
	margin: -0.75em 0 0 -1.75em;
	padding: 0 3em;
}

h2.h2AfterStuff {
	padding-top: 1em;
}

ul.coursework {
	margin: 1.25em 0 2em 0;
	float: left;
	padding-left: 0;
}

.title {
	text-indent: 0em;
	margin-bottom: 0em;
}


.date {
	float: left;	
	width: auto;
}

div#commServ {
	position:relative;
	}
	
#commServ img {
	position:absolute;
	
	}

.lastPat p {
	padding: 0 0 1em .9em;
}

.clearfix {
	clear: both;
}

@media screen and (max-width : 900px) {
	




.main2 img {
    position:absolute ;
    opacity: 0.65;
    left: 38%;
}	

ul#postPic{
    margin-top: 1em;}
	

#commServ img {
    width: 134%;
}
}




@media screen and (max-width : 660px) {
	


.main2 img {
    position:absolute ;
    opacity: 0.65;
    left: 38%;
}	

ul#postPic{
    margin-top: .5em;
	margin-left: 0em;}
	
.expChunk {
    width: 60%;
    
}

ul.expChunk.noDate,
div.expChunk.noDate {
    width:80%;
}

.date {
    margin-top: .5em;
    margin-left: 1em;
}

div#techBM  {
	width: 75%;
}

#commServ img {
    width: 140%;
}

}


@media screen and (max-width : 480px) {

#shift {
    margin: 0 0 0 1%;
}

header ul {
    margin: 0 0 0.85em -1.4em;
	float:none;
}

h1#headName {
    text-indent: -.5em;
}

.expChunk{
    width: 98%;
    float:none;
}
	
.date {
    float: none;
    margin: 0 0 0 1em;
}

article p {
	padding: 0 0;
}


h2 {width: 95%}

.mobNav {
    width:96%;
    display: block;
    margin: 0 0 0 -6%;
}

h4 {
	margin-bottom: -0.5em;
	margin-top: 0.5em;
	}

.mobNav ul {
    list-style:none;
	font-size: 1em;
    clear:left;   
}

.btt {
    margin: .5em 0 0 1.25em;
    font-size: .75em;
}

.mobNav li {
    border-top: black dotted thin;
	padding-top: .15em;
    line-height: 1.5em;
    text-align:center;
}



#commServ img,
.main2 img{
		display:none;
}
		


ul.coursework {
	margin-bottom: 0em;
}

.teachEx li {
    text-indent:-0.75em
}

}



