/* 
	Global Styling 
	===
	- What is getting inherited? What is not? 
*/

header ul {
	float: left;
	list-style:none;
	margin:0 0 1em 1.2em;
}

header div {
	float:right;
	margin: 0 10em;

}

body {
	
	font-family: 'Vollkorn', serif;
	;
	
}

#cv {
	text-shadow: .1em .1em black;
}

#shift {
    margin: 0 0 0 3%;
}
h1, h2, h3, h4, h5 {
	font-family: 'Nobile', sans-serif;
	
}

h1 {
	text-indent: .25em;

}
	
h2 {
	
	margin-bottom: 0;
	padding: 0 0em;
	border-bottom: teal thin solid;
	clear: both;
	text-indent: -1.5%;
	
}

h4 {
	/*text-indent: 1 em;*/
	margin-bottom: 0;
	margin-bottom: -1em;
	
}


a:link, 
a:visited {
	text-decoration: none;
	color: teal;
	/*letter-spacing: 2px;
	padding: 20px 20px 20px 40px;
	
	text-transform: uppercase;*/
}


a:hover {
	color: grey;
	text-decoration: underline;
}


nav a:active {
	color: #000;
}

/*.expChunk {
	
	margin-top: .25em;
*/
}



article p {
	padding: 0 .9em;
}

/*section p {
	border-width: 0;
	padding-width: 0;
}*/

.main1 {
margin: 0;
padding: 0;

}

.main2 {
margin: 0;
padding: 0;

}
.expChunk {
    width: 60%;
    float: left;
	margin: 0;
	padding: 0;
}

.expChunk ul {
	
   margin: 0 0 0 -1.75em;
		
}

.expChunk li, .date li {
	
	list-style: none;	
}

ul.teachEx {
	margin: -0.75em 0 0 -1.75em;
	padding: 0 3em;
}

h2.h2AfterStuff {
	padding-top: 1em;
}

ul.coursework {
	
	margin: 1.25em 0 0 0;
	float: left;
	padding-left: 0;
}

.title {
	text-indent: 0em;
	margin-bottom: 0em;
}


.date {
	float: left;	
	width: auto;
}

.mobNav {display:none;}

/*.date {
	text-align: right;
}*/

.lastPat p {
	padding: 0 0 1em .9em;
}

@media screen and (max-width : 480px) {


header ul {
    margin: 0 0 0.5em -1.5em;
}

.expChunk{
    width: 98%;
    float:none;}
.date {float: none;}

h2 {width: 95%}

.mobNav {
    width:100%;
    display: block;
    margin: 0 0 0 -2em;

}

.mobNav ul {
    
    list-style:none;
	font-family: 'Nobile', sans-serif;
	font-size: 1em;
    clear:left;  
    
}

.btt {
    
    margin: .5em 0 0 0;
    font-size: .75em;
	
}

.mobNav li {
    
    border-top: black thin solid;
	padding-top: .15em;
    line-height: 1.5em;
    text-align:center;

	
   
}
}
